<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooktogether">

    <!-- For location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Set custom default ico-->
        <!--meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/incoming_message_notification" /-->
        <!-- Set color used with incoming notification messages-->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <activity
            android:name=".mainscreens.AuthenticationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mainscreens.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mainscreens.MealActivity"
            android:parentActivityName=".mainscreens.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mainscreens.SearchActivity"
            android:parentActivityName=".mainscreens.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mainscreens.MyMealsActivity"
            android:parentActivityName=".mainscreens.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <uses-library android:name="com.google.android.maps"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCF5K4PvCpfa85GK94__TaY7Rqdg3Ys3dg"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".helpers.Localization"></activity>

        <!-- firebase_service event handling -->
        <service
            android:name=".MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- END firebase_service -->

        <!--  firebase_iid_service -->
        <service
            android:name=".InstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- firebase_iid_service -->
    </application>

 <!-- OpenGl ES Version2 is required -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
</manifest>